<div *ngIf="node">
  <div #element *ngFor="let item of node | keyvalue" [ngStyle]="{'margin-left': tabulation+'px'}">
    <div 
      *ngIf="item.value.title"
      [class]="(item.value.type | doesStringRepresentPrimitive) ? 'primitive-value' : undefined"
      [draggable]="item.value.type | doesStringRepresentPrimitive"
      >
      {{item.value.title}}
    </div>
    <ng-container *ngIf="item.value | isObject">
      <tree-node [node]="item.value" [tabulation]="((item.value | hasTheseProps:'title':'type') ? tabulationLenght : 0)"></tree-node>
    </ng-container>
  </div>
</div>