<div #treeRoot *ngIf="node" (mouseenter)="setHovering(true)" (mouseleave)="setHovering(false)">
  <div
    #element *ngFor="let item of node | keyvalue, let i = index"
    [ngStyle]="{'margin-left': tabulation+'px'}"
    class="not-draggable"
    (mouseover)="showRealPath($event, i)"
    >
    <div 
      *ngIf="item.value.title"
      (click)="replaceSelectionWithInnertext($event, item.value.type)"
      class="data-node"
      [class]="(item.value.type | doesStringRepresentPrimitive) ? 'primitive-value' : 'not-primitive-value'"
      contenteditable="false"
      >{{
        showRealValue && i==actualIndex && (item.value.type | doesStringRepresentPrimitive) && isHovering? 
          showPath(item) : (item.value.title)
      }}</div>
    <ng-container *ngIf="item.value | isObject">
      <tree-node
        [node]="item.value"
        [tabulation]="((item.value | hasTheseProps:'title':'type') ? tabulationLenght : 0)"
        [path]="pathToSend(item)"
      ></tree-node>
    </ng-container>
  </div>
</div>