.viewable-phrase {
  white-space  : pre-wrap;
  outline-color: #1196d8;
  font-size    : 13.4px;
  font-family  : Arial;
  line-height  : 23px;
  box-sizing   : border-box;
  display      : inline;
  resize       : none;
  cursor       : default;
}

.viewable-phrase--typed {
  cursor: pointer;
}

.viewable-phrase--typed:hover {
  outline: 2px solid #ff0000;
}

.viewable-phrase--if {
  background-color: #1196d870;
}

.viewable-phrase--handlebar {
  background-color: #7bd81170;
}

.viewable-phrase--each {
  background-color: #ffae0070;
}