<ng-container *ngIf="viewablePhrases">
  <ng-container *ngFor="let viewablePhrase of viewablePhrases; let i = index">
    <p [class.viewable-phrase--typed]="viewablePhrase.type !== 'text'"
      [class.viewable-phrase--if]="viewablePhrase.type === 'if'"
      [class.viewable-phrase--handlebar]="viewablePhrase.type === 'handlebar'"
      [class.viewable-phrase--each]="viewablePhrase.type === 'each'" class="viewable-phrase" type="text"
      spellcheck="true" (click)="viewablePhrase.type !== 'text' ? showModalToggle($event,i) : undefined"
      >{{viewablePhrase.value}}</p>
    <div class="window-modal"
      [style]="'left: '+showModal.modalPostion.x+-5+'px; top: '+showModal.modalPostion.y+-100+'px;'"
      *ngIf="showModal.showModal && showModal.phraseIndex === i">
      <div *ngFor="let readableInstruction of showModal.data"
      [style]="'margin-left: '+readableInstruction.margin+'px'"
      [class.readable-intruction--if]="readableInstruction.handlebarType === 'if'" 
      [class.readable-intruction--each]="readableInstruction.handlebarType === 'each'"
      [class.readable-intruction--variable]="readableInstruction.handlebarType === 'variable'"
      >
        {{readableInstruction.value}}
      </div>
    </div>
  </ng-container>
</ng-container>