<!DOCTYPE html>
<html lang="es" style="box-sizing: border-box;">
  <body>
    <input
      #uploadFileInput
      (change)="setTemplateFromFile($event.srcElement.files[0])"
      class="invisible"
      type="file"
      id="template"
      name="template"
      accept=".docx"
    />

    <app-header
      [workspace]="workspace"
      [docxFile]="docxFile"
      [history]="history"
      [editablePhrases]="editablePhrases"
      [uploadFileInput]="uploadFileInput"
      (fileChange)="setTemplateFromFile($event.srcElement.files[0])"
    ></app-header>

    <app-workspace
      [objectData]="objectData"
      [workspace]="workspace"
      [editablePhrases]="editablePhrases"
      [fileInput]="uploadFileInput"
      [viewablePhrases]="viewablePhrases"
      (editablePhraseChanged)="updatedEditablePhrase$.next({inputEvent: $event.inputEvent, editablePhraseIndex: $event.indexOfEditablePhrase})"
    ></app-workspace>

    <app-footer
      [workspace]="workspace"
      (clickEditMode)="!$event.shiftKey ? setMode('edit') : setMode('editView')"
      (clickViewMode)="!$event.shiftKey ? setMode('view') : setMode('editView')"
      (clickSimulationMode)="setMode('simulation')"
    ></app-footer>
  </body>
</html>
