@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

body {
  margin                 : 0;
  font-family            : 'Readex Pro', sans-serif;
  background-color       : #f4f6f7;
  font-weight            : 300;
  --elements-color       : #fff;
  --legalSizeSheet-width : 816px;
  --legalSizeSheet-height: 1344px;
  --header-height        : 50px;
  --footer-height        : 20px;
  --data-searchbar-height: 20px;
}

.backdrop {
  background-color: #0007;
  position        : absolute;
  top             : 0px;
  width           : 100%;
  height          : 100%;
  z-index         : 11000;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.backdrop__drop-file-msg {
  font-size   : 5vw;
  color       : #fff;
  font-weight : 300;
  border-style: dashed;
  border-color: #fff;
  border-width: 1vw;
  padding     : 1vw;
}