<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">

<body>

  <div *ngIf="workspace.dropingFile" class="backdrop" (wheel)="$event.preventDefault()">
    <div class="backdrop__drop-file-msg">
      Abrir template
    </div>
  </div>

  <div class="header">
    <input #uploadFileInput class="invisible" type="file" id="template" name="template" accept=".docx">
    <div *ngIf="workspace.fileDropDown" class="header__element__dropdown">
      <p class="header__element__dropdown__item" (click)="save()">Guardar</p>
      <p class="header__element__dropdown__item" (click)="saveToComputer()">Guardar a computadora</p>
      <p class="header__element__dropdown__item" (click)="uploadFileInput.click()">Abrir template</p>
    </div>
    <div class="header__element header__element--file" (click)="fileDropDownToggle()">
      <label>Archivo</label>
    </div>
    <div class="header__element header__element--title">
      {{docxFile.name}}
    </div>
    <div class="header__element" *ngIf="docxFile.lastModifiedDate">
      <!-- date with hour -->
      Última modificación: {{docxFile.lastModifiedDate | date: 'dd/MM/yyyy HH:mm'}}
    </div>
  </div>

  <div class="workspace">
    <div #dataContainer class="workspace__data-container">
      <div class="workspace__data-container__data" [ngStyle]="{'zoom': workspace.dataZoom.value}">
        <div *ngIf="objectData">
          <tree-node [node]="objectData"></tree-node>
        </div>
      </div>
      <div #grabableBarData class="workspace__data-container__grabable-bar"></div>
    </div>

    <div #templateContainer class="workspace__template">
      <div class="workspace__template__paper-container" [ngStyle]="{'zoom': workspace.paperZoom.value}">
        <div #paper class="workspace__template__paper-container__paper" (keypress)="enterListener($event)">
          <div *ngIf="phrases.length > 0 && workspace.mode === 'edit'">
            <ng-container *ngFor="let phrase of phrases; let index = index">
              <br *ngIf="phrases[index-1] && phrases[index-1].paragraphIndex < phrase.paragraphIndex" />
              <span *ngIf="phrase.value !== '\r\n'" class="workspace__template__paper-container__paper__phrase"
                contentEditable="true" (input)="updateTextOfPhrase($event, index)"
                (paste)="pasteContentWithoutStylesAndEnters($event)"
                (dragover)="$event.preventDefault()">{{phrase.value}}</span>
            </ng-container>
          </div>

          <div *ngIf="workspace.mode === 'view' && viewablePhrases">
            <viewable-phrase [viewablePhrases]="viewablePhrases"></viewable-phrase>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="status-bar">
    <div class="status-bar__zoom-container">
      <div class="status-bar__zoom-container__element" (click)="zoomOut(workspace.dataZoom)">
        -
      </div>
      <div class="status-bar__zoom-container__element" (click)="zoomNormal(workspace.dataZoom)">
        {{workspace.dataZoom.value * 100 | number}}%
      </div>
      <div class="status-bar__zoom-container__element" (click)="zoomIn(workspace.dataZoom)">
        +
      </div>
    </div>

    <div class="status-bar__mode-container">
      <div class="status-bar__mode-container__item" style="cursor: default;">Modo: </div>
      <div class="status-bar__mode-container__item"
        [class]="workspace.mode==='edit' ? 'status-bar__mode-container__item--selected' : undefined"
        (click)="setMode('edit')">Edición</div>
      <div class="status-bar__mode-container__item"
        [class]="workspace.mode==='view' ? 'status-bar__mode-container__item--selected' : undefined"
        (click)="setMode('view')">Vista</div>
      <div class="status-bar__mode-container__item"
        [class]="workspace.mode==='simulation' ? 'status-bar__mode-container__item--selected' : undefined"
        (click)="setMode('simulation')">Simulación
      </div>
    </div>

    <div class="status-bar__zoom-container status-bar__zoom-container--right">
      <div class="status-bar__zoom-container__element" (click)="zoomOut(workspace.paperZoom)">
        -
      </div>
      <div class="status-bar__zoom-container__element" (click)="zoomNormal(workspace.paperZoom)">
        {{workspace.paperZoom.value * 100 | number}}%
      </div>
      <div class="status-bar__zoom-container__element" (click)="zoomIn(workspace.paperZoom)">
        +
      </div>
    </div>
  </footer>
</body>

</html>