<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">

<body>
  <div class="header">
    <div class="header__element header__element--file" (click)="uploadFileInput.click()">
      <input #uploadFileInput class="invisible" type="file" id="template" name="template" accept=".docx">
      <label>Archivo</label>
    </div>
    <div class="header__element header__element--title">
      <button (click)="save()">Save</button>
    </div>
    <div class="header__element">
      Última modificación: 07/12/2021 10:52 A.M
    </div>
  </div>

  <div class="workspace">
    <div #dataContainer class="workspace__data-container">
      <div class="workspace__data-container__data">

        <!-- <p *ngFor="let i of [].constructor(50)">data.lorem.ipsum.dolor.sit.amet</p> -->
        
        <div *ngIf="objectData">
          <tree-node [node]="objectData"></tree-node>
        </div>

      </div>
      <div #grabableBarData class="workspace__data-container__grabable-bar"></div>
    </div>

    <div class="workspace__paper-container">
      <div #paper class="workspace__paper-container__paper">
        <div *ngIf="phrases.length > 0">
          <span *ngFor="let phrase of phrases; let index = index" [contentEditable]="true"
            (input)="updateTextFromLabel($event, index)">
            {{phrase.value}}
          </span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>