.workspace__data {
  height          : 100%;
  width           : 300px;
  min-width       : 60px;
  position        : relative;
  display         : flex;
  z-index         : 1000;
  flex-direction  : row;
  overflow-y      : hidden;
  background-color: var(--elements-color);
}

.workspace__data__content {
  overflow-y: scroll;
  width     : 100%;
}

.workspace__data__content__data-container {
  width      : 100%;
  padding    : 15px;
  box-sizing : border-box;
  line-height: 21px;
}

.workspace__data__content__search-bar {
  position: absolute;
  height  : var(--data-searchbar-height);
  z-index : 1000;
  width   : calc(100% - 40px);
}

.workspace__data__content__grabable-bar {
  position   : absolute;
  user-select: none;
  right      : 0;
  width      : 8px;
  height     : 100%;
  cursor     : ew-resize;
}

.workspace__data__content__data-container__grabable-bar:focus {
  cursor: col-resize;
}


.workspace__data__content__data-container--zoom {
  overflow: hidden;
}

.workspace__data__content__data-container__data {
  padding-top: calc(var(--data-searchbar-height) + 15px);
}

.workspace__data__content__data-container__data--two-columns {
  column-count: 2;
}

.workspace__data__content__data-container__data--three-columns {
  column-count: 3;
}