<body>
  <input
    #uploadFileInput
    (change)="setTemplateFromInputEvent($event)"
    class="invisible"
    type="file"
    id="template"
    name="template"
    accept=".docx"
    />

  <div
    class="backdrop"
    [class.backdrop--hover]="workspace.dropingFile"
    (wheel)="$event.preventDefault()"
  >
    <div class="backdrop__drop-file-msg">
      Abrir template
    </div>
  </div>

  <div
    class="backdrop-modal"
    [class.backdrop-modal--hover]="workspace.detailsModal"
    (click)="hideModals()"
  >
    <form
      class="backdrop-modal__details-modal"
      (click)="$event.stopPropagation()"
      [formGroup]="templateInformationForm"
      (submit)="updateTemplateInformation()"
    >
      <p>Nombre del template:</p>
      <input
        class="backdrop-modal__details-modal__input"
        [value]="templateInformation?.name || ''"
        formControlName="name"
        nz-input
        type="text"
      >
      <p>Descripción:</p>
      <textarea
        class="backdrop-modal__details-modal__input backdrop-modal__details-modal__input--textarea"
        formControlName="description"
        nz-input
      >{{templateInformation?.description}}</textarea>
      <button
        class="backdrop-modal__details-modal__save-btn"
        type="submit"
      >Guardar</button>
    </form>
  </div>

  <app-header
    [workspace]="workspace"
    [docxFile]="docxFile"
    [history]="history"
    [editablePhrases]="editablePhrases"
    [uploadFileInput]="uploadFileInput"
    (fileChange)="setTemplateFromInputEvent($event)"
    (docxFileChanged)="saveHandler($event)"
  ></app-header>

  <app-workspace
    [data]="data"
    [workspace]="workspace"
    [editablePhrases]="editablePhrases"
    [fileInput]="uploadFileInput"
    [viewablePhrases]="viewablePhrases"
    style="flex-grow: 1; height: 100%; overflow: auto;"
    (editablePhraseChanged)="updateEditablePhrase($event.inputEvent, $event.indexOfEditablePhrase)"
  ></app-workspace>

  <app-footer
    [workspace]="workspace"
    (clickEditMode)="!$event.shiftKey ? setMode('edit') : setMode('editView')"
    (clickViewMode)="!$event.shiftKey ? setMode('view') : setMode('editView')"
    (clickSimulationMode)="setMode('simulation')"
  ></app-footer>
</body>