<ng-container *ngIf="viewablePhrases">
  <ng-container *ngFor="let viewablePhrase of viewablePhrases; let i = index">
    <div
      [class.viewable-phrase--typed]="viewablePhrase.type !== 'text'"
      [class.viewable-phrase--if]="viewablePhrase.type === 'if'"
      [class.viewable-phrase--handlebar]="viewablePhrase.type === 'handlebar'"
      [class.viewable-phrase--each]="viewablePhrase.type === 'each'"
      class="viewable-phrase"
      type="text"
      spellcheck="true"
      (click)="viewablePhrase.type !== 'text' ? showModalToggle($event,i) : undefined"
    >
      <span *ngIf="viewablePhrase.type === 'text'"
        >{{viewablePhrase.value}}</span
      >
      <ng-container *ngIf="viewablePhrase.type !== 'text'">
        <ng-container
          *ngFor="let variableChecker of viewablePhrase.value|variableExist:data"
        >
          <variable-checker
            [input]="variableChecker"
            (clickExistingVariable)="setSearchData($event)"
            (clickNonExistingVariable)="stopClickPropagation($event)"
            hightlightExistingVariables="true"
          ></variable-checker>
        </ng-container>
      </ng-container>
    </div>

    <div
      class="window-modal"
      *ngIf="showModal.showModal && showModal.phraseIndex === i"
    >
      <div
        *ngFor="let readableInstruction of showModal.data"
        [style]="'margin-left: '+readableInstruction.margin+'px'"
        class="readable-intruction"
        [class.readable-intruction--if]="readableInstruction.handlebarType === 'if'"
        [class.readable-intruction--each]="readableInstruction.handlebarType === 'each'"
        [class.readable-intruction--variable]="readableInstruction.handlebarType === 'variable'"
      >
        <div class="window-modal__notch"></div>
        <!-- {{readableInstruction.value}} -->
        <span *ngIf="readableInstruction.type === 'text'"
          >{{readableInstruction.value}}</span
        >
        <ng-container *ngIf="readableInstruction.type !== 'text'">
          <ng-container
            *ngFor="let variableChecker of readableInstruction.value|variableExist:data"
          >
            <variable-checker
              [input]="variableChecker"
              (clickExistingVariable)="setSearchData($event)"
              hightlightExistingVariables="true"
            ></variable-checker>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
